b,i,strong{
    font-family:sans-serif;
    color:#000
    }
    b,strong{
        font-weight:700
        }
        i{
            font-style:italic}
            *{
                box-sizing:border-box
                }
            .bx{
                margin:10px;padding:10px
                }
            .s,.w{
                font-size:17px;font-weight:700;font-style:italic;
                font-family:monospace
                }
                .tablex{border:1px;background-color:#000
                }
                .trxx{
                    background-color:#fff
                    }
                    head{
                        display:none
                        }
                        *{
                            box-sizing:border-box
                            }